* { margin: 0px; padding: 0px; }
html { height: 100%; min-height: 100%; }
body { font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; font-size: 17px; font-weight: 100 !important; height: 100%; line-height: 1.42857; color: #333333; background-color: #fff; }
ul { list-style: none; }
a:hover { color: #406dd6; }
a { color: #5079d9; cursor: pointer; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 100 !important; }

.x-text-align-right { text-align: right; }

.form-control { box-shadow: none; width: 275px; margin-top: 5px; }

.popover { min-width: 375px; }
.popover-title { background: none; border-bottom: none; padding-top: 15px; }
.popover-footer { text-align: right; margin-top: 15px; }
.popover-footer a { text-align: right; }


.x-backgroud { background: url(../images/blur.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: 100%; height: 264px; overflow: hidden; }
.x-backgroud-frosted-glass { height: 100%; background: inherit; /*filter: blur(18px);   
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);   */ }

.x-welcome { position: relative; height: 200px; width: 1200px; margin: 0px auto; margin-top: -200px; }
.x-welcome .x-welcome-logout { float: right; margin-top: 80px; }
.x-welcome .x-welcome-text-container { height: 200px; float: left; padding: 65px 0px; color: white; }

.x-nav { height: 64px; width: 100%; background-color: rgba(255, 255, 255, 0.5); position: absolute; top: 0px; }
.x-nav-box { width: 1200px; margin: 0px auto; }
.x-nav-box ul { margin-top: 0; margin-bottom: 0px; }
.x-nav-box ul li { float: left; height: 64px; line-height: 64px; width: 200px; text-align: right; cursor: pointer }
.x-nav-box ul li a { color: rgba(0, 0, 0, 0.64); font-weight: 100; text-decoration: none; }
.x-nav-box ul li.brand { text-align: center; }
.x-nav-box ul li.active a { color: rgba(134, 134, 134, 0.58); }
.x-nav-box ul li.x-nav-avatar { text-align: left; }
.x-nav-box ul li.x-nav-avatar img { height: 40px; width: 40px; border-radius: 50%; }

.x-container { width: 1200px; margin: 0px auto; padding: 0px }
.x-container h2 { font-size: 28px; color: #878787; width: 20%; float: left; }
.x-container h3 { font-size: 18px; color: #878787; margin: 0; padding-bottom: 4px; letter-spacing: 0.3px; line-height: 19px; }
.x-container h3 a { margin-left: 10px; }
.x-container .x-section { padding: 20px 0px; border-bottom: 1px solid #ccc; margin-bottom: 20px; min-height: 500px; }
.x-container .x-section .x-row { margin-bottom: 35px; }
.x-container .x-section .x-detail { width: 80%; float: left; padding-top: 22px; margin: 0px; }

.x-container .x-section .x-detail .permission .client-descrition { font-size: 14px; margin-top: 5px; color: #797979; }
.x-container .x-section .x-detail .permission .client-date { height:50px; line-height:50px }
.x-container .x-section .x-detail .permission .client-opration { height: 50px; line-height: 50px; width:100% }
.x-container .x-section .content .text { font-size: 20px; color: #333333; font-style: normal; }
.x-container .x-section .content .btns { float: right; position: relative; margin-top: -23px; font-size: 16px; margin-right: 46px; }
.x-container .x-section .x-opration { float: right; padding-top: 22px; }
.x-container .x-section .x-opration a { font-size: 20px; }


.x-default-icon { height: 50px; width: 50px; border-radius: 3px; background-color: darkgray; }

.tips { height: 50px; z-index: 20; border: 1px solid #dadada; background-color: #fff; border-radius: 6px; position: absolute; -webkit-box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),0 18px 20px -10px rgba(0,0,0,.04),0 18px 20px -10px rgba(0,0,0,.04),0 10px 20px -10px rgba(0,0,0,.04); -moz-box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),0 18px 20px -10px rgba(0,0,0,.04),0 18px 20px -10px rgba(0,0,0,.04),0 10px 20px -10px rgba(0,0,0,.04); box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),0 18px 20px -10px rgba(0,0,0,.04),0 18px 20px -10px rgba(0,0,0,.04),0 10px 20px -10px rgba(0,0,0,.04); }
.tips .delta { background: #fcfcfc; border-radius: 3px; box-shadow: rgba(0,0,0,.38) 0 2px 8px; float: left; position: absolute; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); z-index: 3; width: 20px; height: 20px; top: -6px; left: 67px; border: 1px solid #dadada; background-color: #fff; box-shadow: none; }
.tips .deltapatch { background: #fcfcfc; border-radius: 8px 0 0 8px; box-shadow: none; height: 45px; width: 30px; position: absolute; left: 5px; top: 4px; z-index: 4; }
.tips .warningicon { width: 27px; height: 27px; background: url(../images/ui-p_6b80ebe114.png) -34px -590px no-repeat; position: absolute; z-index: 5; float: left; left: 18px; top: 10px; box-shadow: none; }
.tips .message { font-size: 12px; z-index: 30; width: auto; padding: 0 0 0 15px; line-height: 50px; background: #fff; color: #999; border: 0; box-shadow: none; text-align: left; border-radius: 12px; overflow: hidden; top: 0; position: relative; margin-left: 43px; margin-right: 20px; }
.tips .message p { width: 100%; }


.x-footer { font-size: 11px; line-height: 1.45455; font-weight: 400; letter-spacing: .005em; font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif; background-color: #f2f2f2; color: #333; min-width: 1200px; overflow: hidden; position: relative; z-index: 1; }
.x-footer a { color: #555; text-decoration: none; }
.x-footer-content { margin: 0 auto; padding: 0 22px; max-width: 1200px; color: #888; padding: 34px 0 21px; }
.x-footer-shop { margin-bottom: 7px; padding-bottom: 6px; }
.x-footer-locale { float: right; margin-top: 3px; position: relative; top: -3px; z-index: 2; white-space: nowrap; }
.x-footer-legal { margin-bottom: 35px; }
.x-footer-legal-copyright { float: left; margin-right: 30px; float: left; margin-top: 3px; }
.x-footer-legal-links { float: left; }
.x-footer-legal-link { border-right: 1px solid #d6d6d6; margin-right: 10px; padding-right: 12px; display: inline-block; margin-top: 3px; white-space: nowrap; }

.x-btn { font-size: 18px; color: #ffffff; height: 40px; width: 60px; background-color: rgba(0, 0, 0, 0.3); border: none; text-align: center; line-height: 40px; border-radius: 3px; }
.x-btn-small { height: 30px; }
.x-btn:hover { opacity: .7 }
.x-btn-primary { color: #0070c9; background-color: rgba(1, 121, 252, 0.15) }
.x-btn-ghost { color: #0070c9; background: none; }

.x-border-bottom-none { border-bottom: none !important }
