* { margin: 0px; padding: 0px; }
html { height: 100%; min-height: 100%; }
body { font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; font-size: 17px; height: 100%; line-height: 1.42857; color: #333333; background-color: #fff; }
ul { list-style: none; }
a:hover { color: #406dd6; }
a { color: #5079d9; cursor: pointer; }

.form-control { box-shadow: none; width: 275px; margin-top: 5px; }
.popover { min-width: 375px; }
.popover-title { background: none; border-bottom: none; padding-top: 15px; }
.popover-footer { text-align: right; margin-top: 15px; }
.popover-footer a { text-align: right; }
.backgroud { background: url(../images/blur.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: 100%; height: 200px; overflow: hidden; }
.backgroud-frosted-glass { height: 100%; background: inherit; /*filter: blur(18px);   
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);   */ }
.welcome { position: relative; height: 200px; width: 1200px; margin: 0px auto; margin-top: -200px; }
.image { width: 1200px; margin: 0px auto; position: relative; margin-top: -120px; margin-bottom: 20px; }
.image img { height: 100px; width: 100px; border-radius: 50%; margin-top: 60px; border: 4px solid #fff; }
.image a { float: right; margin-right: 30px; font-size: 18px; color: #ffffff; }
.container { width: 1200px; margin: 0px auto; }
.container .section { padding: 20px; border-bottom: 1px solid #ccc; margin-bottom: 20px; min-height: 400px; }
.container .section .detail { width: 75%; float: left; padding-top: 22px; }
.container h2 { font-weight: 200; font-size: 28px; color: #878787; width: 20%; float: left; }
.container h3 { font-size: 18px; font-weight: 500; color: #878787; margin: 0; padding-bottom: 4px; letter-spacing: 0.3px; line-height: 19px; }
.container h3 a { margin-left: 10px; }
.container .section .row { margin-bottom: 35px; }


.container .section .content .text { font-size: 20px; color: #333333; font-style: normal; font-weight: normal; }
.container .section .content .btns { float: right; position: relative; margin-top: -23px; font-size: 16px; margin-right: 46px; }
.container .section .opration { float: right; padding-top: 22px; }
.container .section .opration a { font-size: 20px; }

.width-275 { width: 275px; }



.tips { height: 50px; z-index: 20; border: 1px solid #dadada; background-color: #fff; border-radius: 6px; position: absolute; -webkit-box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),0 18px 20px -10px rgba(0,0,0,.04),0 18px 20px -10px rgba(0,0,0,.04),0 10px 20px -10px rgba(0,0,0,.04); -moz-box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),0 18px 20px -10px rgba(0,0,0,.04),0 18px 20px -10px rgba(0,0,0,.04),0 10px 20px -10px rgba(0,0,0,.04); box-shadow: 0 9px 30px -6px rgba(0,0,0,.2),0 18px 20px -10px rgba(0,0,0,.04),0 18px 20px -10px rgba(0,0,0,.04),0 10px 20px -10px rgba(0,0,0,.04); }
.tips .delta { background: #fcfcfc; border-radius: 3px; box-shadow: rgba(0,0,0,.38) 0 2px 8px; float: left; position: absolute; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); z-index: 3; width: 20px; height: 20px; top: -6px; left: 67px; border: 1px solid #dadada; background-color: #fff; box-shadow: none; }
.tips .deltapatch { background: #fcfcfc; border-radius: 8px 0 0 8px; box-shadow: none; height: 45px; width: 30px; position: absolute; left: 5px; top: 4px; z-index: 4; }
.tips .warningicon { width: 27px; height: 27px; background: url(../images/ui-p_6b80ebe114.png) -34px -590px no-repeat; position: absolute; z-index: 5; float: left; left: 18px; top: 10px; box-shadow: none; }
.tips .message { font-size: 12px; z-index: 30; width: auto; padding: 0 0 0 15px; line-height: 50px; background: #fff; color: #999; border: 0; box-shadow: none; text-align: left; border-radius: 12px; overflow: hidden; top: 0; position: relative; margin-left: 43px; margin-right: 20px; }
.tips .message p { width: 100%; }
