<div class="x-footer ng-cloak"  ng-cloak>
    <section class="x-footer-content">
        <div class="x-footer-shop">
            更多内容：<span class="nowrap"><a href="//www.apple.com/cn/retail/">官方网站</a></span>，或点击<span class="nowrap"><a href="https://locate.apple.com/cn/zh/">下载</a>获取我们的APP。</span>
        </div>
        <div class="x-footer-locale">
            <a class="x-footer-locale-link choose" title="选择您所在的国家或地区" href="/choose-your-country">
                <img src="https://appleid.cdn-apple.com/static/bin/cb2310540974/images/countryFooterFlags/22x22/CHNflag.png" alt="China" width="17" class="x-footer-locale-flag" height="17">
                中国
            </a>
        </div>
        <div class="x-footer-legal">
            <div class="x-footer-legal-copyright">Copyright © 2017 {{app.company.zh}} 保留所有权利。</div>
            <div class="x-footer-legal-links">
                <a class="x-footer-legal-link" ng-href={{app.support.privacy}}>隐私政策</a>
                <a class="x-footer-legal-link" ng-href={{app.support.about}} href="//www.apple.com/cn/legal/terms/site.html">使用条款</a>
                <a class="x-footer-legal-link" ng-href={{app.support.legal}} href="//www.apple.com/cn/legal/">法律信息</a>
                <a class="x-footer-legal-link" ng-href={{app.support.sitemap}} href="//www.apple.com/cn/sitemap/">网站地图</a>
            </div>
        </div>
    </section>
</div>