

<div class="x-nav">
    <div class="x-nav-box">
        <ul class="pull-left">
            <li class="x-nav-avatar"><img ng-src="/content/images/avtar.jpg" alt="" ng-show="model.identity.currentUser" /></li>
            <li class="x-nav-brand"></li>
        </ul>
        <ul class="pull-right">
            <li class="active"><a href="#/profile">个人信息</a></li>
            <li><a href="#/security">账号安全</a></li>
            <li><a href="#/permissions">应用授权</a></li>
            <li><a href="#/support">技术支持</a></li>
        </ul>
    </div>
</div>