
@{
    Layout = null;
}

<div class="section x-section">
    <h2>个人资料</h2>
    <div class="x-detail">
        <div class="row x-row">
            <div class="col-md-6">
                <h3 class="subtitle">您在网站、社区中显示的名称</h3>
                <div class="content">
                    <div class="text">
                        <a href="#" class="editable">穆轻寒</a>
                        <div class="edit">
                            <div class="text"><a href="#">更改显示名称...</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="subtitle">邮箱</h3>
                <div class="content">
                    <div class="text editable"><a href="#">392327013@qq.com</a></div>
                    <div class="edit">
                        <div class="text"><a href="#">更改邮箱...</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row x-row">
            <div class="col-md-6">
                <h3 class="subtitle">联系方式</h3>
                <div class="content">
                    <div class="text editable"><a href="#">15618275259</a></div>
                    <div class="edit">
                        <div class="text"><a href="#">更改联系方式...</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row x-row">
            <div class="col-md-12">
                <h3 class="subtitle">您的地址</h3>
                <div class="content">
                    <div class="text editable"><a href="#">上海市闵行区浦江镇江文路688弄43号501</a></div>
                    <div class="edit">
                        <div class="text"><a href="#">更改联系地址...</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row x-row">
            <div class="col-md-6">
                <h3 class="subtitle">您的性别</h3>
                <div class="content">
                    <div class="text">
                        <select name="" id="" class="form-control">
                            <option value="male">男</option>
                            <option value="female">女</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x-opration">
        <button href="#" class="btn-edit x-btn x-btn-ghost">编辑</button>
    </div>
</div>
<div class="section  x-section x-section-other x-border-bottom-none">
    <h2>其他信息</h2>
    <div class=" x-detail">
        <div class="row x-row">
            <div class="col-md-6">
                <h3 class="subtitle">注册日期</h3>
                <div class="content">
                    <div class="text"><a href="#">2016年10月12日</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="subtitle">语言</h3>
                <div class="content">
                    <div class="text">
                        <select name="" id="" class="form-control">
                            <option value="zh-CN">简体中文 - 中文（简体）</option>
                            <option value="en">英语</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
