
@{
    Layout = null;
}

@model IEnumerable<System.Security.Claims.Claim>
<!DOCTYPE html>
<html class="ltr " lang="en" data-rtl="false">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="Author" content="392327013@qq.com">
    <meta name="omni_page" content="X-DVA - X-DVA ID">
    <meta name="Category" content="">
    <meta name="Description" content="Your X-DVA ID is the account you use for all X-DVA services.">
    <meta name="Title" content="X-DVA ID">
    <meta name="keywords" content="X-DVA ID, Sign In, Account, Password, Manage">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>X-DVA ID</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://appleid.cdn-apple.com/static/bin/cb3606853004/images/favicon.ico">

    <link rel="stylesheet" href="/content/www/index.css" />

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script>
        function authorize() {
            location.href = "/Home/Authorize"
        }

        function userinfo() {
            $.get('/Home/GetUserInfoAsync', function (data) {
                $('.user_info').text(data)
            })
        }
        function accessToken() {
            $.get('/Home/GetAccessTokenAsync', function (data) {
                $('.token').text(data.Raw)
            })
        }
        function logout() {
            location.href = "/Home/Logout"
        }
    </script>
</head>
<body>
    <button onclick="authorize()">授权登录</button>
    <button onclick="userinfo()">获取用户信息</button>
    <button onclick="accessToken()">获取AccessToken</button>
    <button onclick="logout()">注销</button>
    <p>用户信息</p>
    <hr />

    <div class="user_info">
    </div>
    <p>用户声明信息</p>
    <hr />

    <div>
        @foreach (var claim in Model)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </div>
    <p>AccessToken</p>
    <hr />
    <div class="token"></div>
</body>
</html>