@model IdentityServer3.Core.ViewModels.LoggedOutViewModel
@{
    ViewBag.Title = "Application Logout";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@* This is essentially a copy of the embedded HTML that comes from IdSvr, adapted to access the Model server-side *@
<div class="x-container x-block animated" ng-cloak>
    <div class="x-form-wrapper x-form-container">
        <div class="animated ">
            <div class="form-group">
                <div class="x-brand-conatiner">
                </div>
            </div>
            <div class="form-group">
                <div class="x-title">X-DVA 安全退出</div>
            </div>
            <div class="form-group">
                <div>您已经成功退出登录！点击<a ng-href="{{app.identity.redirectUrl}}">这里</a> 返回首页</div>
            </div>
            <div class="form-group">
                <div>You are now logged out. Click <a ng-href="{{app.identity.redirectUrl}}">here</a> to return to the home page</div>
            </div>
            <div class="form-group">
                <a ng-href="{{app.identity.redirectUrl}}" class="x-btn x-btn-submit x-btn-light">@L("我知道了")</a>
            </div>
        </div>
    </div>
</div>
