@model IdentityServer3.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Application Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="x-container x-block animated"  ui-view ng-cloak>
</div>