@model IdentityServer3.Core.ViewModels.ClientPermissionsViewModel
@{
    ViewBag.Title = "Application Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ui-view class="x-container x-block" ng-cloak></div>

