@using Newtonsoft.Json



@* This is essentially a copy of the embedded HTML that comes from IdSvr, adapted to access the Model server-side *@

<div class="page-header">
</div>
<div class="row">
    <div class="alert alert-danger">
        @if (Model != null)
        {
            @(JsonConvert.SerializeObject(Model))
        }
    </div>
</div>